:root {
  margin: 0px;
  background-color: #bbb;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
}

@keyframes unblur {
  from  {
    filter: blur(4px);
  }
  to {
    filter: blur(0);
  }
}

body {
  margin: 0px;
}

.comment_wrapper {
  box-shadow: 3px 3px 3px 3px #222;
  margin: 10px auto;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  width: 80%;
  transition: all 0.23s;
}

.comment_wrapper:hover {
  transform: scale(1.02);
  background-color: #ddd;
}

.comment_title {
  font-size: 30px;
  margin-top: 0px;
}

.comment_content {
  font-size: 20px;
  margin-bottom: 0px;
}

.add_comment_button {
  background-color: rgb(0, 68, 9);
}

.comment_form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.add_comment_button, .clear_comments_button, .create_poll_button {
  color: white;
  border: none;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
  padding: 17px;
  border-radius: 12px;
  /* text-transform: uppercase; */
  min-width: 50px;
  -webkit-font-smoothing: antialiased;
  line-height: 0px;
  min-height: 36px;
  transition: all 0.5s;
}


.clear_comments_button {
  background-color: rgb(158, 12, 12);
  margin-left: 10px;
}

.create_poll_button {
  background-color: darkslateblue;
}

.create_poll_button:hover {
  cursor: pointer;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
}

.add_comment_button:hover, .clear_comments_button:hover {
  cursor: pointer;
}

.content_input, .colors_input {
  width: 45%;
  min-width: 350px;
  max-width: 600px;
  margin: 5px auto;
  height: 200px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
  resize: none;
  padding: 5px;
  border: none;
  border-radius: 7px;
  margin-bottom: 10px;
}

.title_input, ul.create_poll_wrapper li input {
  width: 45%;
  min-width: 350px;
  max-width: 600px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
  padding: 5px;
  margin: 5px auto;
  border: none;
  border-radius: 7px;
}

.comments_header {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 30px;
}

.comments_container {
  background-color: #ddd;
  width: 70%;
  margin: auto;
  padding-bottom: 30px;
  border-radius: 7px;
  margin-bottom: 100px;
}

.bar_graph_bar {
  height: 15px;
  margin: 5px;
  transition: width 0.7s;
  border-radius: 5px;
}

.bar_graph_text {
  margin-left: 5px;
  font-weight: bold;
  margin-right: -5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar_graph_wrapper {
  width: 50%;
  margin: 0px auto 15px;
  padding: 10px;
  padding-right: 20px;
  background-color: #ddd;
  border-radius: 7px;
}

.poll_wrapper {
  background-color: #444;
  padding: 15px;
}

.poll_title {
  margin-left: 5px;
  margin-top: 0px;
}

.poll_buttons_wrapper {
  display: flex;
  justify-content: center;
}

.poll_button {
  color: white;
  transition: all 0.1s;
}

.poll_button, .poll_button_disabled {
  border: none;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  width: 40px;
  height: 40px;
  line-height: 0px;
  margin: 10px;
}

.poll_button:disabled, .poll_button[disabled], .add_comment_button:disabled,
.clear_comments_button:disabled, .add_comment_button[disabled], .clear_comments_button[disabled],
.create_poll_button:disabled, .create_poll_button[disabled] {
  color: darkslategray;
  background-color: gray;
}

.poll_button:disabled:hover, .poll_button[disabled]:hover, .add_comment_button:disabled:hover,
.clear_comments_button:disabled:hover, .add_comment_button[disabled]:hover, .clear_comments_button[disabled]:hover,
.create_poll_button:disabled:hover, .create_poll_button[disabled]:hover {
  cursor: default;
  transform: none;
}

.poll_button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.no_comments {
  text-align: center;
  color: #777;
}

.connected, .not_connected {
  position: absolute;
  font-size: 20px;
  left: 10px;
  top: 10px;
  margin-top: 0px;
}

.connected {
  color: green;
}

.not_connected {
  color: darkred;
}

.color_sample {
  width: auto;
  height: 50px;
  border-radius: 5px;
  transition: all 0.5s;
}

.color_samples_grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 50px;
  gap: 0.6rem;
  margin-bottom: 20px;
  margin-right: 40px;
}

/* .color_sample:hover {
  transform: scale(1.1);
} */

ul.create_poll_wrapper li {
  list-style-type: none;
}

.create_poll_wrapper {
  padding: 0px;
  margin: 20px;
}

.create_poll_header {
  font-weight: 500;
  font-size: 15px;
  margin: 20px 10px 20px 0px;
}

.create_poll_title {
  font-size: 40px;
  font-weight: 800;
}

@media screen and (max-width: 540px) {

}