@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Segoe UI,
        Helvetica Neue, Arial, sans-serif;
    color: white;
    --rp-purple: #260f26;
    --rp-violet: #251f47;
    --rp-blue: #404e7c;
    --rp-green: #86cb92;
    background-color: var(--rp-purple);
}

/* *,
*:before,
*:after {
  box-sizing: border-box;
} */

@keyframes unblur {
    from {
        filter: blur(10px);
    }
    to {
        filter: blur(0);
    }
}

body {
    margin: 0px;
    background-color: var(--rp-purple);
    scrollbar-color: var(--rp-green);
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--rp-green);
    border-radius: 999px;
}

.comment_wrapper {
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    width: 90%;
    max-width: 750px;
    transition: all 0.23s;
    color: black;
}

.comment_title {
    overflow-wrap: break-word;
    font-size: 30px;
    margin-top: 0px;
    font-weight: 600;
}

.comment_content {
    overflow-wrap: break-word;
    font-size: 20px;
    margin-bottom: 0px;
}

.add_comment_button,
.add_color_button,
.vote_button {
    background-color: var(--rp-green);
}

.comment_form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.comments_header {
    margin: 0px auto;
    max-width: 770px;
    width: calc(90% + 20px);
    padding: 0px;
}

.button_and_form_wrapper {
    margin-bottom: 20px;
}

.add_comment_button,
.clear_comments_button,
ul li input.create_poll_button,
.create_poll_button,
.add_color_button,
.vote_button {
    color: black;
    border: none;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Segoe UI,
        Helvetica Neue, Arial, sans-serif;
    padding: 17px;
    border-radius: 999px;
    /* text-transform: uppercase; */
    min-width: 50px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    line-height: 0px;
    min-height: 36px;
    transition: all 0.5s;
}

.add_color_button {
    transition: box-shadow 0.5s;
    margin: 10px 0px 20px;
}

.add_comment_button,
.clear_comments_button,
ul li input.create_poll_button,
.create_poll_button,
.bar_graph_wrapper,
.comment_wrapper,
.color_sample,
.content_input,
.colors_input,
.title_input,
.add_color_button,
ul.create_poll_wrapper li input:not(.create_poll_button),
.create_poll_dropdown_links,
.track_card,
.share_button {
    /* box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -4px -4px 6px 0 rgba(255, 255, 255, 0.3); */
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
}

.navbar_wrapper,
.poll_wrapper {
    box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.25);
}

.create_poll_link {
    padding: 25px;
    border-radius: 999px;
    font-size: 30px;
    transition: opacity 1s ease;
    transition-delay: 0.5s;
}

.clear_comments_button {
    background-color: rgb(158, 12, 12);
    margin-left: 10px;
}

ul li input.create_poll_button,
.create_poll_button {
    background-color: var(--rp-green);
}

.buttons_wrapper {
    display: flex;
    justify-content: center;
}

.add_comment_button:hover,
.clear_comments_button:hover,
.add_color_button:hover,
.vote_button:hover,
.create_poll_button:hover {
    cursor: pointer;
    box-shadow: none;
}

.content_input,
.colors_input {
    width: 45%;
    /* min-width: 350px;
    max-width: 600px; */
    margin: 5px;
    height: 200px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Segoe UI,
        Helvetica Neue, Arial, sans-serif;
    resize: none;
    padding: 5px;
    border: none;
    border-radius: 999px;
    font-weight: 400;
}

.title_input,
ul.create_poll_wrapper li input:not(.create_poll_button) {
    width: 60%;
    min-width: 350px;
    max-width: 600px;
    height: 30px;
    font-size: 24px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Segoe UI,
        Helvetica Neue, Arial, sans-serif;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 999px;
}

.title_input {
    margin: 10px auto 0px;
    padding: 10px;
    border-radius: 7px 7px 0px 0px;
    max-width: 750px;
    min-width: 0px;
    width: 90%;
}

.content_input {
    margin: 0px auto 10px;
    padding: 10px;
    border-radius: 0px 0px 7px 7px;
    max-width: 750px;
    min-width: none;
    width: 90%;
    height: 30px;
    overflow: hidden;
}

.title_input:focus,
.content_input:focus {
    outline: none;
}

.comments_container {
    z-index: 0;
    background-color: var(--rp-violet);
    padding: 30px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bar_graph_bar {
    height: 15px;
    margin: 25px 5px 5px;
    margin-left: 0px;
    transition: width 0.7s;
    border-radius: 999px;
    min-width: 15px;
}

.bar_graph_bar_wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
}

.bar_graph_bar,
.vote_button,
input[type='radio']:checked.vote_radio + .radio_label {
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25);
}

.bar_graph_text {
    margin: 0px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

.bar_graph_wrapper {
    width: 70%;
    max-width: 950px;
    margin: 15px auto 15px;
    padding: 10px;
    padding-right: 20px;
    background-color: var(--rp-violet);
    border-radius: 7px;
}

.poll_title {
    margin: 5px 10vw;
    text-align: center;
    font-size: 70px;
}

.poll_buttons_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.add_comment_button:disabled,
.clear_comments_button:disabled,
.add_comment_button[disabled],
.clear_comments_button[disabled],
.create_poll_button:disabled,
.create_poll_button[disabled],
.add_color_button:disabled,
.add_color_button[disabled],
.vote_button:disabled,
.vote_button[disable] {
    box-shadow: none;
    color: darkslategray;
    background-color: gray;
}

.add_comment_button:disabled:hover,
.clear_comments_button:disabled:hover,
.add_comment_button[disabled]:hover,
.clear_comments_button[disabled]:hover,
.create_poll_button:disabled:hover,
.create_poll_button[disabled]:hover,
.add_color_button:disabled:hover,
.add_color_button[disabled]:hover .vote_button:disabled:hover,
.vote_button[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

.no_comments {
    text-align: center;
    color: #777;
}

.no_colors {
    color: #777;
    margin-left: 5px;
}

.not_connected {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 0px;
    fill: red;
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        fill: red;
    }
    50% {
        fill: rgba(0, 0, 0, 0);
    }
}

.color_sample {
    width: auto;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px;
}

.color_samples_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-auto-rows: 50px;
    gap: 0.6rem;
    margin-bottom: 20px;
    margin-right: 40px;
}

/* .color_sample:hover {
  transform: scale(1.1);
} */

ul.create_poll_wrapper li {
    list-style-type: none;
}

.create_poll_wrapper {
    padding: 0px 20px 20px;
}

.create_poll_header,
.your_colors {
    font-weight: 500;
    font-size: 16px;
    margin: 10px 10px 0px 25px;
}

.your_colors {
    margin: 0px 0px 10px;
}

.about_wrapper,
.not_found_wrapper {
    padding: 20px;
}

.rolypolly_title {
    font-weight: 900;
    font-size: 80px;
    margin-bottom: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 1;
    transition: opacity 1s ease;
    /* display: flex;
    align-items: baseline;
    justify-content: center; */
}

/* .rolypolly_title:hover {
    animation-name: wobble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
} */

.rolypolly_subtitle {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 50px;
    opacity: 1;
    transition: opacity 1s ease;
}

.navbar_wrapper {
    background-color: var(--rp-violet);
    position: fixed;
    height: 40px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 20px;
    margin: 0px;
    top: 0px;
    z-index: 4;
    /* backdrop-filter: blur(6px); */
}

li.navbar_link,
.navbar_link a {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 0px;
}

.navbar_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.create_poll_wrapper,
.about_wrapper,
.not_found_wrapper {
    position: relative;
    top: 40px;
    z-index: 0;
}

.app_wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
}

.app_wrapper > * {
    flex-shrink: 0;
}

.poll_wrapper {
    position: relative;
    background-color: var(--rp-purple);
    padding: 15px;
    z-index: 1;
}

.color_picker_sample {
    height: 50px;
    border-radius: 5px;
    transition: all 0.5s;
    width: 50px;
    transition: none;
    margin: 10px;
}

.cls-1 {
    fill: #fff;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 15px;
}

.color_sample .x-button {
    display: none;
}

.color_sample:hover .x-button {
    display: block;
}

.color_sample:hover .x-button:hover {
    cursor: pointer;
}

.color_picker_wrapper {
    margin: 5px;
}

input[type='radio'].vote_radio {
    display: none;
}

.radio_inner {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    display: none;
    left: 28px;
    transition: all 0.2s;
}

.radio_outer {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 20px;
}

.radio_label {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding: 30px;
    padding-left: 70px;
    width: 100%;
    border-radius: 999px;
    transition: all 0.2s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio_label_with_image {
    min-height: 80px;
    justify-content: space-between;
}

.no_vote_option {
    display: flex;
    position: relative;
    align-items: center;
}

.no_vote_option:hover,
.radio_label:hover {
    cursor: pointer;
}

.home_section_wrapper {
    position: relative;
    padding: 140px 40px;
    /* animation-name: unblur;
    animation-duration: 1s;
    animation-iteration-count: 1; */
}

@keyframes wobble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.home_section {
    width: 85%;
    max-width: 800px;
    margin: 0px auto;
}

.home_section1 {
    text-align: center;
}

.home_section .rolypolly_subtitle {
    margin: 15px 0px;
}

.home_section1 .home_subtitle {
    margin: 30px 0px 55px;
}

@keyframes l-wobble-1 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    40% {
        -webkit-transform: scaleY(0.85);
        transform: scaleY(0.85);
    }
    60% {
        -webkit-transform: scaleY(0.75);
        transform: scaleY(0.75);
    }
    80% {
        -webkit-transform: scaleY(0.9);
        transform: scaleY(0.9);
    }
}

@keyframes l-wobble-2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scaleY(0.95);
        transform: scaleY(0.95);
    }
    40% {
        -webkit-transform: scaleY(0.75);
        transform: scaleY(0.75);
    }
    60% {
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    80% {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
    }
}

@keyframes l-wobble-3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scaleY(0.85);
        transform: scaleY(0.85);
    }
    40% {
        -webkit-transform: scaleY(0.9);
        transform: scaleY(0.9);
    }
    60% {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
    }
    80% {
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}

.home_section1:hover .l1 {
    color: darkred;
    animation-name: l-wobble-1;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

.home_section1:hover .l2 {
    color: yellow;
    animation-name: l-wobble-2;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

.home_section1:hover .l3 {
    color: royalblue;
    animation-name: l-wobble-3;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

.create_poll_link:hover ~ .rolypolly_title .l1 {
    animation: none;
}

.l1,
.l2,
.l3 {
    display: inline-block;
    transform-origin: bottom;
    height: 78px;
    transition: color 0.2s;
}

.home_section_wrapper1 {
    padding: 100px 40px 100px;
}

.home_section_wrapper2,
.home_section_wrapper4 {
    position: relative;
    text-align: left;
}
.home_section_wrapper3,
.home_section_wrapper5 {
    position: relative;
    text-align: right;
}

.home_section_wrapper4 {
    z-index: 0;
}

.error_text {
    color: red;
}

.spotify_wrapper {
    list-style-type: none;
    width: 100%;
}

.pencil_icon {
    fill: black;
    display: inline-block;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}

.about_wrapper a,
.about_wrapper a:visited {
    color: #71b48d;
    font-weight: 700;
}

.create_poll_link:hover .pencil_icon {
    animation-name: wiggle;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.fadein_scroll {
    opacity: 0;
}

.create_poll_dropdown_links {
    display: none;
    position: absolute;
    flex: none;
    list-style: none;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--rp-violet);
    margin: 15px 0px 0px;
    padding: 0px;
    width: max-content;
    border-radius: 7px;
}

.dropdown_link {
    line-height: normal;
    padding: 15px;
}

.dropdown_link:visited {
    color: white;
}

.dropdown_link:hover {
    text-decoration: underline;
}

.create_poll_dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

.create_poll_dropdown:hover {
    text-decoration: none;
}

.create_poll_dropdown:hover .create_poll_dropdown_links {
    display: flex;
    flex-direction: column;
}

.create_poll_dropdown_links .navbar_link {
    position: relative;
}

.track_cards_wrapper {
    background-color: var(--rp-violet);
    min-height: 200px;
    padding: 20px;
    top: 30px;
    position: relative;
}

.track_cards_wrapper .rolypolly_subtitle {
    margin-top: 0px;
}

.track_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    grid-template-rows: max-content;
    gap: 0.6rem;
}

.track_card {
    width: 300px;
    height: auto;
    background-color: var(--rp-blue);
    position: relative;
    padding: 15px;
    border-radius: 7px;
    margin: 10px;
    overflow-wrap: break-word;
}

.track_card_cover {
    border-radius: 7px;
    width: 300px;
}

.track_card_title {
    font-weight: 600;
    font-size: 20px;
}

.track_card .x_button_wrapper {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--rp-violet);
    align-items: center;
    justify-content: center;
}

.track_card:hover .x_button_wrapper {
    display: flex;
}

.x_button_wrapper:hover {
    cursor: pointer;
}

.poll_image {
    margin: 5px;
    border-radius: 3px;
}

.create_song_poll_button {
    margin: 20px;
    top: 30px;
    position: relative;
}

.spotify_icon {
    height: 22px;
    width: 22px;
    margin-left: 7px;
    fill: black;
}

.search_spotify_button {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.search_spotify_button:disabled .spotify_icon,
.search_spotify_button[disabled] .spotify_icon {
    fill: darkslategray;
}

.add_track_button {
    padding: 10px;
}

.track_card .x-button {
    fill: white;
}

.bar_graph_bar_wrapper:first-of-type .bar_graph_bar {
    margin: 5px;
    margin-left: 0px;
}

.share_buttons_wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    padding-left: 10px;
    justify-content: center;
    z-index: 2;
    margin: 0px;
}

.share_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background-color: var(--rp-violet);
    transition: all 0.5s;
}

.share_button:hover {
    box-shadow: none;
}


.twitter_button {
    background-color: #1da1f2;
}

.reddit_button, .facebook_button {
    background-color: white;
}

.copy_button {
    background-color: var(--rp-green);
}

.bad_copy_button {
    background-color: rgb(150, 21, 21);
}

.share_icon {
    width: 35px;
    height: 35px;
    fill: white;
}

.reddit_icon {
    fill: #ff4500;
}

.facebook_icon {
    fill: #1778f2;
}

.copy_icon {
    fill: black;
}

.copy_icon:hover {
    cursor: pointer;
}

.vote_count {
    text-align: right;
}

.bar_and_text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poll_image ~ .bar_and_text_wrapper .bar_graph_bar {
    margin-top: 0px;
}

@media screen and (max-width: 540px) {
    .create_poll_link {
        width: 70vw;
        font-size: 5vw;
        padding: 5vw;
    }
    .pencil_icon {
        width: 4vw;
        height: 4vw;
    }
    .rolypolly_title {
        margin: 0vh 0vw 2vh;
        font-size: 14vw;
    }
    .home_subtitle {
        font-size: 6vw;
    }
    .rolypolly_subtitle:not(.comments_header) {
        margin-top: 4vh;
    }
    .rolypolly_subtitle,
    .comments_header {
        font-size: 10vw;
    }
    .body_text {
        font-size: 5vw;
    }
    .home_section1:hover .l1,
    .home_section1:hover .l2,
    .home_section1:hover .l3 {
        animation: none;
        color: white;
    }
    .l1,
    .l2,
    .l3 {
        height: auto;
    }
    .home_section_wrapper {
        padding: 40px 10vw;
    }
    li.navbar_link,
    .navbar_link a {
        font-size: 6vw;
    }
    .navbar_wrapper {
        height: 9vw;
        max-height: 40px;
    }
    .home_section_wrapper1 {
        margin: 30vh 0px 35vh;
    }
    .home_section1 .home_subtitle {
        margin: 0vh 0vw 7vh;
    }
    .color_sample .x-button {
        display: block;
    }
    ul.create_poll_wrapper li input:not(.create_poll_button) {
        min-width: 100px;
        max-width: 75vw;
        width: 100%;
    }
    .music_note {
        display: none;
    }
    .mantine-ColorPicker-root {
        max-width: 80vw;
    }
    .track_card_cover {
        width: 65vw;
        height: 65vw;
    }
    .track_card {
        width: 65vw;
        padding: 5vw;
    }
    .track_card .x_button_wrapper {
        display: flex;
    }
    .radio_label {
        border-radius: 20px;
    }
    .bar_graph_wrapper {
        width: 100%;
        margin: 15px auto 0px;
        margin-left: -15px;
        max-width: 540px;
        box-shadow: none;
        border-radius: 0px;
    }
    .poll_wrapper {
        padding: 15px 15px 0px;
        box-shadow: none;
    }
    .vote_button {
        margin: 30px;
    }
    .bar_graph_text {
        font-size: 4vw;
    }
    .poll_title {
        font-size: 13vw;
    }
    .comment_form {
        margin-top: 0px;
    }
    .share_button {
        width: 8vw;
        height: 8vw;
        padding: 2vw;
        margin: 2vw;
    }
}

@media screen and (max-width: 950px) {
    .share_buttons_wrapper {
        flex-direction: row;
        position: relative;
        height: max-content;
        background-color: var(--rp-violet);
        z-index: 0;
        padding: 0px;
    }
}
