@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    margin: 0px;
    background-color: #bbb;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Segoe UI,
        Helvetica Neue, Arial, sans-serif;
}

/* *,
*:before,
*:after {
  box-sizing: border-box;
} */

@keyframes unblur {
    from {
        filter: blur(10px);
    }
    to {
        filter: blur(0);
    }
}

body {
    margin: 0px;
    background-color: #bbb;
}

.comment_wrapper {
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    width: 90%;
    transition: all 0.23s;
}

.comment_wrapper:hover {
    /* transform: scale(1.01); */
    background-color: #ddd;
}

.comment_title {
    font-size: 30px;
    margin-top: 0px;
    font-weight: 600;
}

.comment_content {
    font-size: 20px;
    margin-bottom: 0px;
}

.add_comment_button,
.add_color_button,
.vote_button {
    background-color: rgb(0, 68, 9);
}

.comment_form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.comments_header {
    margin: 0px;
}

.add_comment_button,
.clear_comments_button,
ul li input.create_poll_button,
.create_poll_button,
.add_color_button,
.vote_button {
    color: white;
    border: none;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Segoe UI,
        Helvetica Neue, Arial, sans-serif;
    padding: 17px;
    border-radius: 12px;
    /* text-transform: uppercase; */
    min-width: 50px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    line-height: 0px;
    min-height: 36px;
    transition: all 0.5s;
}

.add_color_button {
    transition: box-shadow 0.5s;
    margin: 10px 0px 20px;
}

.add_comment_button,
.clear_comments_button,
ul li input.create_poll_button,
.create_poll_button,
.bar_graph_wrapper,
.comment_wrapper,
.color_sample,
.content_input,
.colors_input,
.title_input,
.add_color_button,
ul.create_poll_wrapper li input:not(.create_poll_button) {
    /* box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -4px -4px 6px 0 rgba(255, 255, 255, 0.3); */
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
}

.navbar_wrapper,
.poll_wrapper,
.home_section_wrapper {
    box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.25);
}

.create_poll_link {
    padding: 15px;
    border-radius: 22px;
    font-size: 25px;
}

.clear_comments_button {
    background-color: rgb(158, 12, 12);
    margin-left: 10px;
}

ul li input.create_poll_button,
.create_poll_button {
    background-color: darkslateblue;
}

.buttons_wrapper {
    display: flex;
    justify-content: center;
}

.add_comment_button:hover,
.clear_comments_button:hover,
.add_color_button:hover,
.vote_button:hover,
.create_poll_button:hover {
    cursor: pointer;
    box-shadow: none;
}

.content_input,
.colors_input {
    width: 45%;
    /* min-width: 350px;
    max-width: 600px; */
    margin: 5px;
    height: 200px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Segoe UI,
        Helvetica Neue, Arial, sans-serif;
    resize: none;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-weight: 400;
}

.title_input,
ul.create_poll_wrapper li input:not(.create_poll_button) {
    width: 45%;
    min-width: 350px;
    max-width: 600px;
    height: 30px;
    font-size: 24px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Segoe UI,
        Helvetica Neue, Arial, sans-serif;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 7px;
}

.title_input {
    margin: 10px auto 0px;
    padding: 10px;
    border-radius: 7px 7px 0px 0px;
    max-width: none;
    min-width: none;
    width: 90%;
}

.content_input {
    margin: 0px auto 10px;
    padding: 10px;
    border-radius: 0px 0px 7px 7px;
    max-width: none;
    min-width: none;
    width: 90%;
    height: 30px;
    overflow: hidden;
}

.title_input:focus,
.content_input:focus {
    outline: none;
}

.comments_container {
    z-index: 0;
    background-color: #ddd;
    padding: 30px;
    margin-bottom: 0px;
}

.bar_graph_bar {
    height: 15px;
    margin: 25px 5px 5px;
    transition: width 0.7s;
    border-radius: 5px;
}

.bar_graph_bar,
.vote_button,
input[type='radio']:checked.vote_radio + .radio_label {
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25);
}

.bar_graph_text {
    margin: 0px -5px 0px 5px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bar_graph_wrapper {
    width: 70%;
    margin: 15px auto 15px;
    padding: 10px;
    padding-right: 20px;
    background-color: #ddd;
    border-radius: 7px;
}

.poll_wrapper {
    background-color: #444;
    padding: 15px;
    z-index: 1;
}

.poll_title {
    margin-left: 5px;
    margin-top: 0px;
}

.poll_buttons_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.add_comment_button:disabled,
.clear_comments_button:disabled,
.add_comment_button[disabled],
.clear_comments_button[disabled],
.create_poll_button:disabled,
.create_poll_button[disabled],
.add_color_button:disabled,
.add_color_button[disabled],
.vote_button:disabled,
.vote_button[disable] {
    box-shadow: none;
    color: darkslategray;
    background-color: gray;
}

.add_comment_button:disabled:hover,
.clear_comments_button:disabled:hover,
.add_comment_button[disabled]:hover,
.clear_comments_button[disabled]:hover,
.create_poll_button:disabled:hover,
.create_poll_button[disabled]:hover,
.add_color_button:disabled:hover,
.add_color_button[disabled]:hover .vote_button:disabled:hover,
.vote_button[disabled]:hover {
    cursor: default;
    transform: none;
}

.no_comments {
    text-align: center;
    color: #777;
}

.no_colors {
    color: #777;
    margin-left: 5px;
}

.connected,
.not_connected {
    position: absolute;
    font-size: 20px;
    left: 10px;
    bottom: 10px;
    margin: 0px;
}

.connected {
    color: limegreen;
}

.not_connected {
    color: red;
}

.color_sample {
    width: auto;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px;
}

.color_samples_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-auto-rows: 50px;
    gap: 0.6rem;
    margin-bottom: 20px;
    margin-right: 40px;
}

/* .color_sample:hover {
  transform: scale(1.1);
} */

ul.create_poll_wrapper li {
    list-style-type: none;
}

.create_poll_wrapper {
    padding: 0px 20px 20px;
}

.create_poll_header,
.your_colors {
    font-weight: 500;
    font-size: 16px;
    margin: 10px 10px 0px 0px;
}

.your_colors {
    margin: 0px 0px 10px;
}

.about_wrapper,
.not_found_wrapper {
    padding: 20px;
}

.rolypolly_title {
    font-weight: 900;
    font-size: 80px;
    margin-bottom: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* display: flex;
    align-items: baseline;
    justify-content: center; */
}

/* .rolypolly_title:hover {
    animation-name: wobble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
} */

.rolypolly_subtitle {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 50px;
}

.navbar_wrapper {
    background-color: #ddd;
    position: fixed;
    height: 40px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 20px;
    margin: 0px;
    top: 0px;
    z-index: 2;
    /* backdrop-filter: blur(6px); */
}

li.navbar_link,
.navbar_link a {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 400;
    line-height: 0px;
}

.navbar_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.create_poll_wrapper,
.about_wrapper,
.not_found_wrapper {
    position: absolute;
    width: 100vw;
    top: 40px;
    z-index: 0;
}

.app_wrapper {
    background-color: #ddd;
}

.poll_wrapper {
    position: relative;
    padding-top: 100px;
}

.color_picker_sample {
    height: 50px;
    border-radius: 5px;
    transition: all 0.5s;
    width: 50px;
    transition: none;
    margin: 10px;
}

.cls-1 {
    fill: #fff;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 15px;
}

.color_sample .x-button {
    display: none;
}

.color_sample:hover .x-button {
    display: block;
}

.color_sample:hover .x-button:hover {
    cursor: pointer;
}

.color_picker_wrapper {
    margin: 5px;
}

input[type='radio'].vote_radio {
    display: none;
}

input[type='radio']:checked.vote_radio + .radio_label {
    background-color: white;
}

input[type='radio']:checked.vote_radio ~ .radio_inner {
    background-color: black;
    display: block;
}

.radio_inner {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    display: none;
    left: 28px;
    transition: all 0.2s;
}

.radio_label:before {
    display: inline-block;
    position: relative;
    content: '';
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 15px;
}

.radio_label {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    width: 100%;
    border-radius: 7px;
    transition: all 0.2s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no_vote_option {
    display: flex;
    position: relative;
    align-items: center;
}

.home_section_wrapper {
    position: relative;
    padding: 100px;
    /* animation-name: unblur;
    animation-duration: 1s;
    animation-iteration-count: 1; */
}

@keyframes wobble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.home_section {
    width: 85%;
    margin: 0px auto;
}

.home_section1 {
    text-align: center;
}

.home_section .rolypolly_subtitle {
    margin: 15px 0px;
}

.home_section1 .home_subtitle {
    margin: 30px 0px 40px;
}

@keyframes l-wobble-1 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    40% {
        -webkit-transform: scaleY(0.85);
        transform: scaleY(0.85);
    }
    60% {
        -webkit-transform: scaleY(0.75);
        transform: scaleY(0.75);
    }
    80% {
        -webkit-transform: scaleY(0.9);
        transform: scaleY(0.9);
    }
}

@keyframes l-wobble-2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scaleY(0.95);
        transform: scaleY(0.95);
    }
    40% {
        -webkit-transform: scaleY(0.75);
        transform: scaleY(0.75);
    }
    60% {
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    80% {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
    }
}

@keyframes l-wobble-3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scaleY(0.85);
        transform: scaleY(0.85);
    }
    40% {
        -webkit-transform: scaleY(0.9);
        transform: scaleY(0.9);
    }
    60% {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
    }
    80% {
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}

.home_section1:hover .l1 {
    color: darkred;
    animation-name: l-wobble-1;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

.home_section1:hover .l2 {
    color: yellow;
    animation-name: l-wobble-2;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

.home_section1:hover .l3 {
    color: royalblue;
    animation-name: l-wobble-3;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

.l1,
.l2,
.l3 {
    display: inline-block;
    transform-origin: bottom;
    height: 78px;
    transition: color 0.2s;
}

.home_section_wrapper2,
.home_section_wrapper4 {
    position: relative;
    text-align: left;
    background-color: #444;
    color: white;
}
.home_section_wrapper3 {
    position: relative;
    text-align: right;
    background-color: white;
    color: black;
}

.error_text {
    color: red;
}

.spotify_search {
    margin-top: 100px;
}

@media screen and (max-width: 540px) {
}
